@model CatalogoDeDiscos.Models.Album

@{
    ViewData["Title"] = "Details Album";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Details Album</h4>
    <hr />
    <dl class="d-lg-table">
        <dt>
            @Html.DisplayNameFor(Model => Model.AlbumName)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.AlbumName)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(Model => Model.ReleaseYear)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.ReleaseYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(Model => Model.ArtistBand)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.ArtistBand.ArtistName)
        </dd>
        <dt>
            @Html.DisplayNameFor(Model => Model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Status)
        </dd>
    </dl>

    <p />
   
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-dark">Edit</a>
</div>
<a asp-action="Index">Back to List</a>




